@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
  background-color: rgba(#99070E, 0.05);
  overflow-x: hidden;
}
#contacts {
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 4rem 0;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contacts > ul {
  flex-grow: 1;
  text-align: center;
  list-style-type: none;
  color: #FFCED0;
}
.contacts > ul li {
  padding: .5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.social-container {
  flex-grow: 1;
  width: 400px;
  margin: .5rem auto;
  text-align: center;
}
.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #FFCED0;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}
.social-icons a::before {
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #99070E, #690308);
  transition: all 265ms ease-out;
}

.social-icons a:hover::before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #99070E;
  background: -webkit-linear-gradient(45deg, #99070E, #690308);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
